.booking-date {
  background-color: green;
  grid-column: col-start 7 / center-end;
  padding: var(--padding-section);

  display: grid;
  grid-template-rows: repeat(2, 1fr);

  &__schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    place-items: center;

    &--arrival,
    &--departure,
    &--guests {
      display: grid;
      grid-row-gap: 3vh;

      > div {
        background-color: var(--color-secondary);
        padding: 2rem 4rem;

        display: grid;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        position: relative;
      }

      h5 {
        font-size: calc(1rem + 1vw);
        text-align: center;
      }
    }
  }
}
