// anchor tags global
a:link,
a:visited {
  color: var(--color-quaternary);
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  position: relative;
  transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
  z-index: 1;
  // media query - tablet port size
  @include respond(tab-port) {
    font-size: calc(1rem + 1vw);
  }
}

// paragraphs
p {
  color: var(--color-white);
  font-size: calc(1rem + 1vw);
  font-weight: 200;
}
// list itemz
li {
  list-style: none;
  margin-bottom: 4rem;
}
// iconz
i {
  font-size: var(--font-size-title);
  color: var(--color-secondary);
}

// .u-center-text {
//     text-align: center !important;
// }

// .u-margin-bottom-small {
//     margin-bottom: 1rem !important;
// }

// .u-margin-bottom-medium {
//     margin-bottom: 3rem !important;

//     @include respond(tab-port){
//         margin-bottom: 5rem !important;
//     }
// }

// .u-margin-bottom-big {
//     margin-bottom: 8rem !important;

//     @include respond(tab-port){
//         margin-bottom: 5rem !important;
//     }
// }

// .u-margin-top-big {
//     margin-bottom: 8rem !important;
// }

// .u-margin-top-huge {
//     margin-bottom: 10rem !important;
// }
